@tailwind base;
@tailwind components;
@tailwind utilities;

@import "swiper/css";

html,
body,
::root {
  height: 100%;
  color: white;
}

div.vector {
  margin: 10px auto;
  overflow: hidden;
  position: absolute;
}

line,
path {
  stroke: #ccc;
  stroke-width: 2px;
  fill: none;
}
#top {
  stroke-width: 2px;
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 2px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
}

.link-underline:hover {
  background-size: 100% 2px;
  background-position: 0 100%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.text-shadow-purple {
  text-shadow: 4px 1px #8b46c4;
}

.text-shadow-black {
  text-shadow: 4px 1px #000000;
}

.text-shadow-gray {
  text-shadow: 4px 1px #808080;
}

.text-shadow-white {
  text-shadow: 4px 1px #ffffff;
}
